<h2>加法运算符</h2>
<table class="table_normal">
  <tr>
    <th>运算</th>
    <th>结果</th>
    <th>说明</th>
  </tr>
  <tr>
    <td>NaN + 1</td>
    <td><%= NaN + 1 %></td>
    <td>NaN加任何数皆为NaN</td>
  </tr>
  <tr>
    <td>Infinity + Infinity</td>
    <td><%= Infinity + Infinity %></td>
    <td></td>
  </tr>
  <tr>
    <td> -Infinity + -Infinity</td>
    <td><%= -Infinity + -Infinity %></td>
    <td></td>
  </tr>
  <tr>
    <td> Infinity + -Infinity</td>
    <td><%= Infinity + -Infinity %></td>
    <td></td>
  </tr>
  <tr>
    <td> +0 + +0 </td>
    <td><%= +0 + +0 %></td>
    <td></td>
  </tr>
  <tr>
    <td> -0 + -0 </td>
    <td><%= -0 + -0 %></td>
    <td></td>
  </tr>
  <tr>
    <td> +0 + -0 </td>
    <td><%= +0 + -0 %></td>
    <td></td>
  </tr>
  <tr>
    <td> "hi" + 12 </td>
    <td><%= "hi" + 12 %></td>
    <td></td>
  </tr>
  <tr>
    <td> "hi" + {} </td>
    <td><%= "hi" + {} %></td>
    <td></td>
  </tr>
  <tr>
    <td> 12 + {} </td>
    <td><%= 12 + {} %></td>
    <td>当数字和引用类型相加，皆转为字符串再相加</td>
  </tr>
</table>

<h2>减法运算符</h2>
<table class="table_normal">
  <tr>
    <th>运算</th>
    <th>结果</th>
    <th>说明</th>
  </tr>
  <tr>
    <td>NaN - 1</td>
    <td><%= NaN + 1 %></td>
    <td>有NaN参与，结果皆为NaN</td>
  </tr>
  <tr>
    <td>Infinity - Infinity</td>
    <td><%= Infinity - Infinity %></td>
    <td>Infinity - Infinity不为0而是NaN</td>
  </tr>
  <tr>
    <td> -Infinity - -Infinity</td>
    <td><%= -Infinity - -Infinity %></td>
    <td></td>
  </tr>
  <tr>
    <td> Infinity - -Infinity</td>
    <td><%= Infinity - -Infinity %></td>
    <td></td>
  </tr>
  <tr>
    <td> -Infinity - Infinity</td>
    <td><%= -Infinity - Infinity %></td>
    <td></td>
  </tr>
  <tr>
    <td> "123" - "23" </td>
    <td><%= "123" - "23" %></td>
    <td></td>
  </tr>
  <tr>
    <td> "123" - 23 </td>
    <td><%= "123" - 23 %></td>
    <td></td>
  </tr>
  <tr>
    <td> "0x123" - 23 </td>
    <td><%= "0x123" - 23 %></td>
    <td></td>
  </tr>
  <tr>
    <td> "012.1" - 2 </td>
    <td><%= "012.1" - 2 %></td>
    <td></td>
  </tr>
  <tr>
    <td> "012asd" - 2 </td>
    <td><%= "012asd" - 2 %></td>
    <td>从这两个例子可知，用的是Number()强制转换方法。</td>
  </tr>
  <tr>
    <td> "123" - false </td>
    <td><%= "123" - false %></td>
    <td></td>
  </tr>
  <tr>
    <td> "123" - true </td>
    <td><%= "123" - true %></td>
    <td>false转为0，true转为1</td>
  </tr>
  <tr>
    <td> "123" - {} </td>
    <td><%= "123" - {} %></td>
    <td></td>
  </tr>
</table>