<table class="table_normal">
  <tr>
    <th>运算</th>
    <th>结果</th>
    <th>说明</th>
  </tr>
  <tr>
    <td>3 &gt; 2</td>
    <td><%= 3 > 2 %></td>
    <td></td>
  </tr>
  <tr>
    <td>"3" &gt; "23"</td>
    <td><%= "3" > "23" %></td>
    <td>"2" == 50 \ "3" == 51</td>
  </tr>
  <tr>
    <td>"3" &gt; 2</td>
    <td><%= "3" > 2 %></td>
    <td></td>
  </tr>
  <tr>
    <td>"Brick" &gt; "alphabet"</td>
    <td><%= "Brick" > "alphabet" %></td>
    <td>"a"== 97 \ "B" == 66 <br> 字符串比较第一个不同的</td>
  </tr>
  <tr>
    <td>"Ba" &gt; "aB"</td>
    <td><%= "Ba" > "aB" %></td>
    <td></td>
  </tr>
  <tr>
    <td>"aa" &lt; "aaa"</td>
    <td><%= "aa" < "aaa" %></td>
    <td></td>
  </tr>
  <tr>
    <td>false &lt; true</td>
    <td><%= false < true %></td>
    <td></td>
  </tr>
  <tr>
    <td>[] &lt; [1]</td>
    <td><%= [] < [1] %></td>
    <td>诸如对象、数组等其它转换关系待测试。</td>
  </tr>
</table>